@import 'tailwindcss';

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-size: 14px;
}

.about .progress {
  height: 36px;
  display: block;
  background: none;
  border-radius: 0;
  margin-top: 15px;
}

.about .progress .skill {
  color: var(--default-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

.about .progress .skill .val {
  float: right;
}

.about .progress-bar-wrap {
  height: 10px;
}

.about .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
}
